mat-form-field{
    width: 100%;
}

button {
    font-size: 14px;
}

.form-cupos {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding-top: 10px;
}
  
.cupos-full-width {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.check {
    justify-content: flex-start;
}

.excepcion {
    margin-top: 10px;
}

.excepcion-detail{
    padding-left: 10px;
    padding-right: 10px;
}